body {
    color: #333;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#Cabecera {
    background-color: beige;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#Cabecera #tagline {
   padding: 0 0 0 1em;
   font-weight: bold;
   font-size: 0.8em;
}

#main-container { 
    width: 80%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#main-container h1 {
    font-size: 35px;

}
